* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

*::before,
*::after {
	display: inline-block;
}

html,
body {
	// scroll-behavior: smooth;
	height: 100%;
	font-size: 16px;
	max-width: 1920px;
	margin: 0 auto;
}


.container {
	width: 100%;
	max-width: 832px;
	padding: 0 16px;
	margin: 0 auto;

	@media (min-width: $pc) {
		width: 100%;
		max-width: $containerWidth + px;
		padding: 0 72px;
	}
}

body {
	color: var(--colors-dark-beige-20);
	line-height: 1;
	font-family: $fontFamily;
	font-weight: 400;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--colors-dark-beige-20);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;


	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}

main {
	overflow-x: hidden;
}