button.btn,
a.btn {
  font-family: $fontFamily;
  color: var(--colors-dark-20);
  font-size: var(--fonts-size-12);
  background: var(--colors-dark-brown-100);
  border: 1.5px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
  padding: 14px 8px;

  &::before,
  &::after {
    font-size: 16px;
    transition: all 0.4s;
  }

  &:hover {
    border-color: var(--colors-dark-beige-100);
    background: var(--colors-dark-brown-80);
  }

  &:active {
    background: var(--colors-dark-100);
    border-color: transparent;
  }

  &.btn--light {
    background: #D8D7D7;
    color: #464443;

    &:hover {
      border-color: #B39F93;
      background: #B2B0AF;
    }

    &:active {
      border-color: transparent;
      background: #D0D0D0;
    }
  }
}