/* babolar-theme */
:root {
	/* light */
	/* color */
	--colors-base-black-100: #000000;
	--colors-base-white-100: #ffffff;
	--colors-dark-100: #181615;
	--colors-dark-20: #d0d0d0;
	--colors-dark-40: #a2a1a1;
	--colors-dark-60: #747372;
	--colors-dark-80: #464443;
	--colors-dark-beige-100: #b39f93;
	--colors-dark-beige-20: #efebe9;
	--colors-dark-beige-40: #e0d8d3;
	--colors-dark-beige-60: #d1c5be;
	--colors-dark-beige-80: #c2b2a8;
	--colors-dark-brown-100: #403a38;
	--colors-dark-brown-20: #d8d7d7;
	--colors-dark-brown-40: #b2b0af;
	--colors-dark-brown-60: #8c8887;
	--colors-dark-brown-80: #66615f;
	--colors-light-100: #efebe9;
	--colors-light-20: #fbfbfa;
	--colors-light-40: #f8f7f6;
	--colors-light-60: #f5f3f1;
	--colors-light-80: #f2efed;
	/* number */
	--fonts-size-10: 0.625rem;
	--fonts-size-12: 0.75rem;
	--fonts-size-14: 0.875rem;
	--fonts-size-16: 1rem;
	--fonts-size-20: 1.25rem;
	--fonts-size-25: 1.5625rem;
	--fonts-size-32: 2rem;
	--fonts-size-40: 2.5rem;
	--fonts-size-64: 4rem;
	/* string */
	--fonts-family-poppins: poppins;
	--fonts-weight-bold: bold;
	--fonts-weight-light: light;
	--fonts-weight-medium: medium;
	--fonts-weight-regular: regular;
	--fonts-weight-semibold: semibold;

}

/* dark */
/* color */
.dark-theme {
	--colors-base-black-100: #ffffff;
	--colors-base-white-100: #000000;
	--colors-dark-100: #d0d0d0;
	--colors-dark-20: #464443;
	--colors-dark-40: #464443;
	--colors-dark-60: #747372;
	--colors-dark-80: #a2a1a1;
	--colors-dark-beige-100: #b39f93;
	--colors-dark-beige-20: #181615;
	--colors-dark-beige-40: #c2b2a8;
	--colors-dark-beige-60: #d1c5be;
	--colors-dark-beige-80: #e0d8d3;
	--colors-dark-brown-100: #d8d7d7;
	--colors-dark-brown-20: #403a38;
	--colors-dark-brown-40: #66615f;
	--colors-dark-brown-60: #8c8887;
	--colors-dark-brown-80: #b2b0af;
	--colors-light-100: #fbfbfa;
	--colors-light-20: #efebe9;
	--colors-light-40: #f2efed;
	--colors-light-60: #f5f3f1;
	--colors-light-80: #f8f7f6;
}