.contact-info {
	display: flex;
	flex-direction: column;
	row-gap: 16px;

	&__box {
		display: flex;
		flex-direction: column;
		row-gap: 8px;

		a {
			color: var(--colors-dark-80);
			font-size: var(--fonts-size-14);
			text-decoration: none;
			font-weight: 300;
			line-height: 1.55;
			transition: all 0.4s;

			&:hover {
				color: var(--colors-dark-beige-100);
			}

			&:active {
				color: var(--colors-dark-100);
			}

			@media (min-width: $pc) {
				font-size: var(--fonts-size-16);
			}
		}
	}

	&__subtitle {
		color: var(--colors-dark-beige-100);
		font-size: var(--fonts-size-10);
		font-weight: 500;
		letter-spacing: 0.2px;
		text-transform: uppercase;

		@media (min-width: $pc) {
			font-size: var(--fonts-size-12);
			letter-spacing: 0.36px;
		}
	}

	&__title {
		color: var(--colors-dark-100);
		font-size: var(--fonts-size-14);
		font-weight: 700;
		line-height: 1.3;

		@media (min-width: $pc) {
			font-size: var(--fonts-size-16);
			line-height: 1.25;
		}
	}
}

.social-icons {
	display: flex;
	justify-content: center;
	margin-top: 32px;

	a {
		display: inline-block;
		color: var(--colors-dark-100);
		font-size: 0;
		border-radius: 4px;
		border: 1.5px solid transparent;
		transition: all 0.4s;
		outline: none;
		padding: 7px;

		&:hover {
			color: var(--colors-dark-beige-100);
			border-color: var(--colors-dark-beige-60);
		}

		&:active {
			color: var(--colors-dark-100);
			border-color: var(--colors-dark-100);
		}

		&::before {
			font-size: 20px;
		}
	}
}

.theme-toggle {

	&.light,
	&.dark {
		background-color: transparent;
		font-size: 0;
		color: var(--colors-dark-100);
		border-radius: 4px;
		border: 1.5px solid transparent;
		cursor: pointer;
		outline: none;
		transition: all 0.4s;
		padding: 8px;

		@media (min-width: $pc) {
			font-size: var(--fonts-size-12);
			font-weight: 500;
			letter-spacing: 0.36px;
			text-transform: uppercase;
			padding: 6px 15px;

			&::before {
				display: none;
			}
		}

		&::before {
			font-size: 20px;
			transition: all 0.4s;
		}

		&:hover {
			border: 1.5px solid var(--colors-dark-beige-60);
			outline: none;
			color: var(--colors-dark-beige-100);
		}

		&:active,
		&.active {
			border: 1.5px solid var(--colors-dark-100);
			color: var(--colors-dark-100);
		}
	}
}

html.dark-theme {
	.logo-black {
		display: none;
	}

	.logo-white {
		display: block;
	}
}

.logo-black {
	display: block;
}

.logo-white {
	display: none;
}

.title-box {
	display: flex;
	flex-direction: column;


	&__title {
		color: var(--colors-dark-100);
		font-size: var(--fonts-size-32);
		font-weight: 500;
		line-height: 1.1;

		@media (min-width: $pc) {
			font-size: var(--fonts-size-40);
		}
	}

	&__text-holder {
		color: var(--colors-dark-100);
		font-size: var(--fonts-size-14);
		font-weight: 300;
		line-height: 1.55;

		@media (min-width: $pc) {
			font-size: var(--fonts-size-16);
			font-weight: 300;
			line-height: 1.55;
		}

		p {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
}


.nav-slider {
	display: flex;
	align-items: center;
	gap: 4px;

	&__button-next,
	&__button-prev {
		color: var(--colors-dark-100);
		cursor: pointer;
		border: 1.5px solid transparent;
		transition: all 0.4s;
		border-radius: 4px;
		font-size: 20px;
		padding: 16px;

		&::before {
			font-size: 20px;
		}

		&:hover {
			border-color: var(--colors-dark-beige-100);
			color: var(--colors-dark-beige-100);

		}

		&:active {
			border-color: var(--colors-dark-100);
			color: var(--colors-dark-100);
		}
	}

	&__button-next {}

	&__button-prev {}
}

.bg-holder {
	background: linear-gradient(180deg, rgb(239, 235, 233) 5.42%, rgba(239, 235, 233, 0.2) 12%), url("../img/background-projects.svg");
	background-repeat: no-repeat;
	background-size: cover;

	@media (min-width:$pc) {
		background: linear-gradient(180deg, rgba(239, 235, 233, 1) 17.42%, rgba(239, 235, 233, 0.2) 22.43%), url("../img/background-projects.svg");
	}
}

.dark-theme {


	.bg-holder {
		background: linear-gradient(180deg, rgb(24, 22, 21) 5.42%, rgba(24, 22, 21, 0.2) 12%), url("../img/background-projects.svg");

		@media (min-width:$pc) {
			background: linear-gradient(180deg,
					rgb(24, 22, 21) 5.42%,
					rgba(24, 22, 21, 0.2) 12%), url("../img/background-projects.svg");
		}
	}
}


.fancybox__backdrop {
	background: #000000 !important;
	opacity: 0.75 !important;
}

.f-button.is-close-btn {
	top: 14px !important;
	right: 14px !important;
	color: var(--colors-dark-100);
	background-color: transparent;
	width: 28px;
	height: 28px;
	border-radius: 4px;
	border: 1.5px solid transparent;
	padding: 4px;

	&:hover {
		border-color: var(--colors-dark-beige-60);
		color: var(--colors-dark-beige-100);
	}

	&:active {
		border-color: var(--colors-dark-100);
		color: var(--colors-dark-100);
	}
}

.fancybox__slide {
	padding: 16px;
}

.breadcrumbs {
	padding: 4px 16px;

	@media (min-width:$pc) {
		padding: 8px 72px;
	}

	a {
		color: var(--colors-dark-100);
		font-size: var(--fonts-size-10);
		display: block;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		text-decoration: none;
		border-radius: 4px;
		border: 1.5px solid transparent;
		transition: all 0.4s;
		padding: 7px;
		margin: 0;

		&:hover {
			color: var(--colors-dark-beige-100);
			border-color: var(--colors-dark-beige-60);
		}

		&:active {
			border-color: solid var(--colors-dark-100);
		}
	}

	&__container {
		&>span {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}

.brDevider {
	color: var(--colors-dark-80);
}

.breadcrumb {


	&_last {
		color: var(--colors-dark-20);
		font-size: var(--fonts-size-10);
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		padding: 8px;
	}
}

.banner {
	min-height: 350px;
	background-repeat: repeat;
	background-size: cover;
	background-position: 50% 50%;

	@media (min-width:$pc) {
		min-height: 250px;
	}
}



.info-block {
	color: var(--colors-dark-100);
	padding: 32px 0;

	@media (min-width:$pc) {
		padding: 96px 0;

	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 48px;
		position: relative;
		padding-bottom: 48px;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--colors-dark-beige-40);
		}

		@media (min-width:$pc) {
			gap: 124px;

			&::after {
				width: calc(100% - 144px);
				left: 72px;
			}
		}
	}

	&__left-col {
		min-width: 216px;
		flex: 1 0 0;

		@media (min-width:$pc) {
			max-width: 376px;
		}
	}

	&__keep {}

	&__right-col {
		min-width: 288px;
		flex: 1 0 0;

		@media (min-width:$pc) {
			max-width: 1076px;
		}
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 16px;
		border-bottom: 2px solid var(--colors-dark-beige-40);
		padding-bottom: 22px;

		@media (min-width:$pc) {
			padding-bottom: 46px;
		}
	}

	&__title-box {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__description-box {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__text-holder {}

	&__bottom {
		padding-top: 24px;

		@media (min-width:$pc) {
			padding-top: 48px;
		}
	}


	h1 {
		font-size: var(--fonts-size-32);
		font-weight: 500;
		line-height: 1.1;
		margin: 0;

		@media (min-width:$pc) {
			font-size: var(--fonts-size-40);
		}
	}

	h2 {
		font-size: var(--fonts-size-20);
		font-weight: 500;
		line-height: 1.3;

		&:not(:last-child) {
			margin-bottom: 4px;
		}

		@media (min-width:$pc) {
			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	b {
		font-size: var(--fonts-size-14);
		font-weight: 500;
		line-height: 1.3;

		@media (min-width:$pc) {
			font-size: var(--fonts-size-16);
			line-height: 1.25;
		}
	}

	b {

		&+ul,
		&+ol {
			margin-top: 24px;
		}

		&+h2,
		&+h3 {
			margin-top: 24px;
		}
	}

	p {
		font-size: var(--fonts-size-14);
		font-weight: 300;
		line-height: 1.55;

		&+h2,
		&+h3 {
			margin-top: 24px;
		}

		@media (min-width:$pc) {
			font-size: var(--fonts-size-16);
		}
	}

	a {
		color: var(--colors-dark-100);
		transition: all 0.4s;
		text-decoration: none;

		&:hover {
			color: var(--colors-dark-beige-60);
		}

		&:active {
			color: var(--colors-dark-100);
		}
	}



	ol,
	ul {
		font-size: var(--fonts-size-14);
		font-weight: 300;
		line-height: 1.55;
		padding-left: 24px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		@media (min-width:$pc) {
			font-size: var(--fonts-size-16);
		}
	}

	ol[type="a"] {
		padding-left: 30px;
	}

	.btn {
		width: fit-content;
	}



}

body:not(.home) main {
	overflow: unset;
}

.keep {
	background: var(--colors-dark-brown-20);
	padding: 24px 16px;

	@media (min-width:$pc) {
		position: sticky;
		top: 81px;
		padding: 48px;
	}

	&__list {
		@media (min-width:$pc) {
			display: flex;
			flex-direction: column;
		}

		&>div {
			border-radius: 4px;
			border: 1.5px solid transparent;
			transition: all 0.4s;
			padding: 8px;

			&.hovered {
				border-color: var(--colors-dark-beige-60);
			}

			&.actived {
				border-color: var(--colors-dark-100);
			}
		}

		a {
			color: var(--colors-dark-100);
			font-size: var(--fonts-size-12);
			font-weight: 500;
			line-height: 1;
			letter-spacing: 0.36px;
			text-transform: uppercase;
			text-decoration: none;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}