$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1576;
$containerPadding: 72;
$containerWidth: $maxWidthContainer + $containerPadding + $containerPadding;

$pc: 1280px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

$fontFamily: 'Poppins', sans-serif;
$fontSize: 16px;