.fixtures {
	padding: 96px 0;

	@media (min-width:$pc) {
		padding: 96px 72px;
	}

	&__container {
		@media (min-width:$pc) {
			padding: 0;
			max-width: 100%;
		}
	}

	&__title-box {
		align-items: center;
		gap: 12px;

		.title-box__title {
			text-align: center;

			@media (min-width:$pc) {
				margin-left: auto;
			}
		}

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		@media (min-width:$pc) {
			flex-direction: row;
			justify-content: center;
			gap: 0;

			&:not(:last-child) {
				margin-bottom: 64px;
			}
		}
	}

	&__nav {
		justify-content: center;

		@media (min-width:$pc) {
			margin-left: auto;

		}
	}
}

.fixtures-slider {
	overflow: visible;

	.swiper-wrapper {
		align-items: stretch;

		@media (min-width:$pc) {
			align-items: normal;
		}
	}
}

.fixtures-slide {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	max-width: 256px;
	height: auto;

	@media (min-width:$pc) {
		max-width: 776px;
		flex-direction: row;
	}

	&__card {
		background: var(--colors-dark-brown-20);
		border-radius: 4px;
		flex: 1 0 0;
		padding: 32px 24px;
		margin-top: -48px;

		@media (min-width:$pc) {
			width: 100%;
			max-width: 376px;
			padding: 64px 48px;
			margin-top: 0;
		}
	}

	&__title {
		color: var(--colors-dark-brown-100);
		font-size: var(--fonts-size-20);
		font-weight: 500;
		line-height: 1.3;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		@media (min-width:$pc) {
			font-size: var(--fonts-size-25);
			line-height: 1.25;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}
	}

	&__text-holder {
		color: var(--colors-dark-brown-100);
		font-size: var(--fonts-size-14);
		font-weight: 300;
		line-height: 1.55;

		p {
			&:not(:last-child) {
				margin-bottom: 12px;
			}
		}

		@media (min-width:$pc) {
			font-size: var(--fonts-size-16);
		}
	}

	&__image-holder {
		width: 100%;
		max-width: 256px;
		height: 256px;
		line-height: 0;
		padding: 24px;


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 4px;
		}

		@media (min-width:$pc) {
			max-width: 448px;
			height: 426px;
			margin-left: -48px;
		}
	}
}