.notification {
	background: var(--colors-dark-100);
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	gap: 24px;
	border-radius: 4px;
	background-position-x: -1000%;
	background-repeat: no-repeat;
	padding: 8px 8px 8px 40px;
	margin: 4px;

	&.hide {
		display: none;
		padding: 0;
		margin: 0;
	}

	@media (min-width: $pc) {
		padding: 4px 16px 4px 40px;
		background-position-x: -350px;
		background-size: 1920px 100%;
	}

	@media (min-width: 1500px) {
		background-position-x: -150px;
	}

	@media (min-width: 1800px) {
		background-position-x: -80px;
	}

	&__left-col {
		min-width: 256px;
		flex: 1 0 0;
	}

	&__text-box {
		position: relative;

		&._icon-alert {
			&::before {
				position: absolute;
				left: -32px;
				top: 0;
				font-size: 24px;
			}
		}
	}

	&__title {
		font-size: var(--fonts-size-12);
		color: var(--colors-dark-brown-20);
		font-weight: 500;
		line-height: 1.55;
	}

	&__text-holder {
		color: var(--colors-dark-brown-20);
		font-size: var(--fonts-size-10);
		font-weight: 300;
		line-height: 1.55;
	}

	&__right-col {
		min-width: 260px;
		display: flex;
		align-items: center;
		gap: 16px;

		@media (min-width:$pc) {
			justify-content: flex-end;
		}
	}

	&__close {
		color: var(--colors-dark-20);
		font-family: $fontFamily;
		font-size: var(--fonts-size-12);
		background-color: transparent;
		display: flex;
		align-items: center;
		gap: 12px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.36px;
		text-transform: uppercase;
		border-radius: 4px;
		cursor: pointer;
		border: 1.5px solid transparent;
		transition: all 0.4s;
		padding: 14px 8px;

		&::after {
			font-size: 20px;
		}

		&:hover {
			border-color: #D1C5BE;
			color: #B39F93;
		}

		&:active {
			color: #D0D0D0;
			border-color: #D0D0D0;
		}

		@media (min-width: $pc) {
			span {
				display: none;
			}

			padding: 13px 7px;
		}
	}
}

.dark-theme .notification__close {
	&:hover {
		color: #403A38;
		border-color: #403A38;
	}

	&:active {
		color: #403A38;
		border-color: #403A38;
	}
}